extends layout

block content
  h1= title

  form(method='POST' action='/')
    div.form-group
      label(for='passphrase') Passphrase:
      input#passphrase.form-control(type='password', placeholder='It\'s a secret!' name='passphrase' required='true' value=('') )
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg