extends layout

block content
  h2= title

  form(method='POST' action!= action)
    div.form-group
      label(for='passphrase') Passphrase:
      input#passphrase.form-control(type='password', placeholder='It\'s a secret!' name='passphrase' required='true' value=('') )
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      li!= errors 
        if href 
          a(href!= href)!= link